body { background: #b56121; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 10px; display: flex; }
.block-database-0 { color: #bb6f02; font-size: 16px; margin-bottom: 5px; }
.block-filter-1 { color: #4b1e83; font-size: 19px; margin-bottom: 5px; }
.block-user-2 { color: #72bab7; font-size: 19px; margin-bottom: 5px; }
.block-config-3 { color: #5c6542; font-size: 21px; margin-bottom: 5px; }
.block-sms-4 { color: #52f068; font-size: 13px; margin-bottom: 5px; }